[user]
	name = Brian Kelley
	useConfigOnly = true
[color]
	ui = auto
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	st = status
	co = checkout
	lg = log --oneline --graph -10
	dc = diff --cached
        ds = diff --stat
        dsc = diff --stat --cached
[push]
	default = simple

[branch]
	autosetuprebase = always
