[user]
	name = Brian Kelley
	email = brian.kelley@gmail.com
[color]
	ui = auto
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	st = status
	co = checkout
[push]
	default = simple

[branch]
	autosetuprebase = always
