[user]
	name = Brian Kelley
	useConfigOnly = true
	email = bhk@bhk.com
[color]
	ui = auto
[alias]
	unstage = reset HEAD --
	last = log -1 HEAD
	st = status
	co = checkout
	lg = log --oneline --reverse -10
	lgn = log --oneline --reverse -10 --name-status
	lgg = log --oneline --graph -10
	dc = diff --cached
	ds = diff --stat
	dsc = diff --stat --cached
[push]
	default = simple

[branch]
	autosetuprebase = always
[credential]
	helper = store
[init]
	defaultBranch = main
